node-red-flow.json
[
    {
        "id": "029daea79e489819",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "99d89491256f1057",
        "type": "mqtt in",
        "z": "029daea79e489819",
        "name": "",
        "topic": "home/1/room/kitchen",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "41a5e8b17dc7f5bc",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 100,
        "y": 340,
        "wires": [
            [
                "4b3c4076a2e64793",
                "56ffd36d7fd4f333",
                "7cacd884a4dfda30"
            ]
        ]
    },
    {
        "id": "28050ff5b1d6396b",
        "type": "function",
        "z": "029daea79e489819",
        "name": "Trigger_Window_Clouse",
        "func": "msg.payload = \"close\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 730,
        "y": 280,
        "wires": [
            [
                "3cd4045ebaba0bf8"
            ]
        ]
    },
    {
        "id": "836888bab8e9c780",
        "type": "function",
        "z": "029daea79e489819",
        "name": "Trigger_Air_purification",
        "func": "msg.payload = \"on\"\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 720,
        "y": 320,
        "wires": [
            [
                "7a230b6e89ec30ad"
            ]
        ]
    },
    {
        "id": "4b3c4076a2e64793",
        "type": "ui_gauge",
        "z": "029daea79e489819",
        "name": "",
        "group": "2e452c917eb8462f",
        "order": 3,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Air quality in the kitchen",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "500",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "50",
        "seg2": "150",
        "className": "",
        "x": 330,
        "y": 240,
        "wires": []
    },
    {
        "id": "3cd4045ebaba0bf8",
        "type": "mqtt out",
        "z": "029daea79e489819",
        "name": "",
        "topic": "home/1/room/kitchen/window/100",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "e36a753ffdd41585",
        "x": 1100,
        "y": 280,
        "wires": []
    },
    {
        "id": "b8a227ce87cfee31",
        "type": "mqtt in",
        "z": "029daea79e489819",
        "name": "",
        "topic": "home/1/room/bedroom",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "41a5e8b17dc7f5bc",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 100,
        "y": 620,
        "wires": [
            [
                "52f3ad91937b871e",
                "0208f71faacdc0cc",
                "134edd9744d39fbf"
            ]
        ]
    },
    {
        "id": "e88b1e67b398ed50",
        "type": "mqtt in",
        "z": "029daea79e489819",
        "name": "",
        "topic": "outdoor/AQI",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "41a5e8b17dc7f5bc",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 110,
        "y": 40,
        "wires": [
            [
                "09161b42720a0905",
                "26c3672e7bba04c6",
                "8e0c4f7904fd884d"
            ]
        ]
    },
    {
        "id": "09161b42720a0905",
        "type": "ui_gauge",
        "z": "029daea79e489819",
        "name": "",
        "group": "2e452c917eb8462f",
        "order": 3,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Outdoor air quality",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "500",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "101",
        "seg2": "150",
        "className": "",
        "x": 530,
        "y": 40,
        "wires": []
    },
    {
        "id": "52f3ad91937b871e",
        "type": "ui_gauge",
        "z": "029daea79e489819",
        "name": "",
        "group": "2e452c917eb8462f",
        "order": 3,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Air quality in the bedroom",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "500",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "50",
        "seg2": "150",
        "className": "",
        "x": 510,
        "y": 560,
        "wires": []
    },
    {
        "id": "56ffd36d7fd4f333",
        "type": "switch",
        "z": "029daea79e489819",
        "name": "Check",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "gt",
                "v": "150",
                "vt": "str"
            },
            {
                "t": "lt",
                "v": "100",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 470,
        "y": 340,
        "wires": [
            [
                "28050ff5b1d6396b",
                "836888bab8e9c780"
            ],
            [
                "91aafc8e55cb8e3e",
                "b74e74f4fdd131fb"
            ]
        ]
    },
    {
        "id": "7a230b6e89ec30ad",
        "type": "mqtt out",
        "z": "029daea79e489819",
        "name": "",
        "topic": "home/1/room/kitchen/purifier/200",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "e36a753ffdd41585",
        "x": 1060,
        "y": 340,
        "wires": []
    },
    {
        "id": "91aafc8e55cb8e3e",
        "type": "function",
        "z": "029daea79e489819",
        "name": "Trigger_Window_Open",
        "func": "msg.payload = \"open\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 720,
        "y": 420,
        "wires": [
            [
                "3cd4045ebaba0bf8"
            ]
        ]
    },
    {
        "id": "b74e74f4fdd131fb",
        "type": "function",
        "z": "029daea79e489819",
        "name": "Trigger_Air_purification_off",
        "func": "msg.payload = \"off\"\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 740,
        "y": 460,
        "wires": [
            [
                "7a230b6e89ec30ad"
            ]
        ]
    },
    {
        "id": "e1c98548850e79a8",
        "type": "function",
        "z": "029daea79e489819",
        "name": "Trigger_Window_Clouse",
        "func": "msg.payload = \"close\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 730,
        "y": 620,
        "wires": [
            [
                "9fac44c5eac423ed"
            ]
        ]
    },
    {
        "id": "0333e2d16e61ba11",
        "type": "function",
        "z": "029daea79e489819",
        "name": "Trigger_Air_purification",
        "func": "msg.payload = \"on\"\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 720,
        "y": 660,
        "wires": [
            [
                "e6c174b194f32a3e"
            ]
        ]
    },
    {
        "id": "9fac44c5eac423ed",
        "type": "mqtt out",
        "z": "029daea79e489819",
        "name": "",
        "topic": "home/1/room/kitchen/bedroom/101",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "e36a753ffdd41585",
        "x": 1070,
        "y": 640,
        "wires": []
    },
    {
        "id": "0208f71faacdc0cc",
        "type": "switch",
        "z": "029daea79e489819",
        "name": "Check",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "gt",
                "v": "150",
                "vt": "str"
            },
            {
                "t": "lt",
                "v": "100",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 470,
        "y": 680,
        "wires": [
            [
                "e1c98548850e79a8",
                "0333e2d16e61ba11"
            ],
            [
                "ad2a59f577ed5afc",
                "158a07426f9082e4"
            ]
        ]
    },
    {
        "id": "e6c174b194f32a3e",
        "type": "mqtt out",
        "z": "029daea79e489819",
        "name": "",
        "topic": "home/1/room/bedroom/purifier/202",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "e36a753ffdd41585",
        "x": 1060,
        "y": 720,
        "wires": []
    },
    {
        "id": "ad2a59f577ed5afc",
        "type": "function",
        "z": "029daea79e489819",
        "name": "Trigger_Window_Open",
        "func": "msg.payload = \"open\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 700,
        "y": 760,
        "wires": [
            [
                "9fac44c5eac423ed"
            ]
        ]
    },
    {
        "id": "158a07426f9082e4",
        "type": "function",
        "z": "029daea79e489819",
        "name": "Trigger_Air_purification_off",
        "func": "msg.payload = \"off\"\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 720,
        "y": 800,
        "wires": [
            [
                "e6c174b194f32a3e"
            ]
        ]
    },
    {
        "id": "f7da52353d8c2af7",
        "type": "mqtt out",
        "z": "029daea79e489819",
        "name": "",
        "topic": "home/1/room/hall/window/111",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "e36a753ffdd41585",
        "x": 1410,
        "y": 1020,
        "wires": []
    },
    {
        "id": "b3643c4b08256bbe",
        "type": "switch",
        "z": "029daea79e489819",
        "name": "Check",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "gt",
                "v": "150",
                "vt": "str"
            },
            {
                "t": "lt",
                "v": "100",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 310,
        "y": 1060,
        "wires": [
            [
                "e3ef46933d0fe31f",
                "a5a651b9572b7409"
            ],
            [
                "47a7f219fffe4ce8",
                "f7070f761f1b075b"
            ]
        ]
    },
    {
        "id": "0ba0429aa5a8d0ba",
        "type": "mqtt out",
        "z": "029daea79e489819",
        "name": "",
        "topic": "home/1/room/hall/purifier/220",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "e36a753ffdd41585",
        "x": 1410,
        "y": 1100,
        "wires": []
    },
    {
        "id": "021386ff6256ef5b",
        "type": "mqtt in",
        "z": "029daea79e489819",
        "name": "",
        "topic": "home/1/room/hall",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "41a5e8b17dc7f5bc",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 90,
        "y": 1060,
        "wires": [
            [
                "6edc515a059843c5",
                "b3643c4b08256bbe",
                "5d5182a3f0214217"
            ]
        ]
    },
    {
        "id": "6edc515a059843c5",
        "type": "ui_gauge",
        "z": "029daea79e489819",
        "name": "",
        "group": "2e452c917eb8462f",
        "order": 3,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Air quality in the hall",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "500",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "50",
        "seg2": "150",
        "className": "",
        "x": 340,
        "y": 960,
        "wires": []
    },
    {
        "id": "26c3672e7bba04c6",
        "type": "switch",
        "z": "029daea79e489819",
        "name": "Check",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "gt",
                "v": "100",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 290,
        "y": 80,
        "wires": [
            [
                "86e988d13c8669bf"
            ]
        ]
    },
    {
        "id": "e82fe882a45e51a2",
        "type": "function",
        "z": "029daea79e489819",
        "name": "Trigger_Window_Clouse",
        "func": "msg.payload = \"close\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 730,
        "y": 1360,
        "wires": [
            [
                "d94c50565ac81e2b"
            ]
        ]
    },
    {
        "id": "4ea44dacbfcbed85",
        "type": "function",
        "z": "029daea79e489819",
        "name": "Trigger_Air_purification",
        "func": "msg.payload = \"on\"\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 720,
        "y": 1400,
        "wires": [
            [
                "2066ee947e03ba36"
            ]
        ]
    },
    {
        "id": "d94c50565ac81e2b",
        "type": "mqtt out",
        "z": "029daea79e489819",
        "name": "",
        "topic": "home/1/room/bathroom/window/110",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "e36a753ffdd41585",
        "x": 1090,
        "y": 1420,
        "wires": []
    },
    {
        "id": "951f8501015277c5",
        "type": "switch",
        "z": "029daea79e489819",
        "name": "Check",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "gt",
                "v": "150",
                "vt": "str"
            },
            {
                "t": "lt",
                "v": "100",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 470,
        "y": 1400,
        "wires": [
            [
                "e82fe882a45e51a2",
                "4ea44dacbfcbed85"
            ],
            [
                "f918e514fe28e51c",
                "b271e61fecf34103"
            ]
        ]
    },
    {
        "id": "2066ee947e03ba36",
        "type": "mqtt out",
        "z": "029daea79e489819",
        "name": "",
        "topic": "home/1/room/bathroom/purifier/201",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "e36a753ffdd41585",
        "x": 1070,
        "y": 1500,
        "wires": []
    },
    {
        "id": "f918e514fe28e51c",
        "type": "function",
        "z": "029daea79e489819",
        "name": "Trigger_Window_Open",
        "func": "msg.payload = \"open\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 720,
        "y": 1500,
        "wires": [
            [
                "d94c50565ac81e2b"
            ]
        ]
    },
    {
        "id": "b271e61fecf34103",
        "type": "function",
        "z": "029daea79e489819",
        "name": "Trigger_Air_purification_off",
        "func": "msg.payload = \"off\"\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 740,
        "y": 1540,
        "wires": [
            [
                "2066ee947e03ba36"
            ]
        ]
    },
    {
        "id": "0461ddadeb4a29f9",
        "type": "mqtt in",
        "z": "029daea79e489819",
        "name": "",
        "topic": "home/1/room/bathroom",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "41a5e8b17dc7f5bc",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 100,
        "y": 1380,
        "wires": [
            [
                "3871c4ce232ca98a",
                "951f8501015277c5",
                "ec6cc8ce3bb0d173"
            ]
        ]
    },
    {
        "id": "3871c4ce232ca98a",
        "type": "ui_gauge",
        "z": "029daea79e489819",
        "name": "",
        "group": "2e452c917eb8462f",
        "order": 3,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Air quality in the bathroom",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "500",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "50",
        "seg2": "150",
        "className": "",
        "x": 480,
        "y": 1300,
        "wires": []
    },
    {
        "id": "86e988d13c8669bf",
        "type": "sms77-sms",
        "z": "029daea79e489819",
        "config": "3f862dcbf059ce34",
        "debug": "true",
        "delay": "",
        "details": "true",
        "from": "",
        "foreign_id": "",
        "flash": "true",
        "json": "true",
        "label": "",
        "message": "Hello!\n\nYour air qulaity data levels are getting dangerous. \n\nAirQulaityTeam",
        "name": "sms77-sms",
        "recipients": "DD",
        "ttl": "",
        "udh": "",
        "unicode": "true",
        "utf8": "true",
        "x": 510,
        "y": 80,
        "wires": [
            []
        ]
    },
    {
        "id": "8e0c4f7904fd884d",
        "type": "change",
        "z": "029daea79e489819",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "[\t    {\t        \"units\": msg.payload\t    },{\t        \"home\": 1,\t        \"room\": \"out\"\t    }\t]",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 260,
        "y": 180,
        "wires": [
            [
                "0cc34f71befe783f"
            ]
        ]
    },
    {
        "id": "0cc34f71befe783f",
        "type": "influxdb out",
        "z": "029daea79e489819",
        "influxdb": "47a0daacc263716d",
        "name": "write to influxDB",
        "measurement": "airquality",
        "precision": "",
        "retentionPolicy": "",
        "database": "database",
        "precisionV18FluxV20": "ms",
        "retentionPolicyV18Flux": "",
        "org": "LUT",
        "bucket": "smart-air-quality",
        "x": 520,
        "y": 180,
        "wires": []
    },
    {
        "id": "7cacd884a4dfda30",
        "type": "change",
        "z": "029daea79e489819",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "[\t    {\t        \"units\": msg.payload\t    },{\t        \"home\": 1,\t        \"room\": \"out\"\t    }\t]",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 220,
        "y": 420,
        "wires": [
            [
                "d0256e0dfe94c49a"
            ]
        ]
    },
    {
        "id": "d0256e0dfe94c49a",
        "type": "influxdb out",
        "z": "029daea79e489819",
        "influxdb": "47a0daacc263716d",
        "name": "write to influxDB",
        "measurement": "airquality",
        "precision": "",
        "retentionPolicy": "",
        "database": "database",
        "precisionV18FluxV20": "ms",
        "retentionPolicyV18Flux": "",
        "org": "LUT",
        "bucket": "smart-air-quality",
        "x": 400,
        "y": 460,
        "wires": []
    },
    {
        "id": "073eb05c7c4e2f1b",
        "type": "inject",
        "z": "029daea79e489819",
        "name": "Add new actuator config",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "[{\"actuator_id\":200},{\"home\":1,\"room\":\"hall\",\"actuator_type\":\"purifier\"}]",
        "payloadType": "json",
        "x": 190,
        "y": 1680,
        "wires": [
            [
                "06f34a90cf3c511b"
            ]
        ]
    },
    {
        "id": "06f34a90cf3c511b",
        "type": "influxdb out",
        "z": "029daea79e489819",
        "influxdb": "bebdbf8371de4f4b",
        "name": "write to influxDB",
        "measurement": "config",
        "precision": "",
        "retentionPolicy": "",
        "database": "database",
        "precisionV18FluxV20": "ms",
        "retentionPolicyV18Flux": "",
        "org": "LUT",
        "bucket": "smart-air-quality",
        "x": 450,
        "y": 1680,
        "wires": []
    },
    {
        "id": "134edd9744d39fbf",
        "type": "change",
        "z": "029daea79e489819",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "[\t    {\t        \"units\": msg.payload\t    },{\t        \"home\": 1,\t        \"room\": \"out\"\t    }\t]",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 200,
        "y": 720,
        "wires": [
            [
                "3036db4d816f77a3"
            ]
        ]
    },
    {
        "id": "3036db4d816f77a3",
        "type": "influxdb out",
        "z": "029daea79e489819",
        "influxdb": "47a0daacc263716d",
        "name": "write to influxDB",
        "measurement": "airquality",
        "precision": "",
        "retentionPolicy": "",
        "database": "database",
        "precisionV18FluxV20": "ms",
        "retentionPolicyV18Flux": "",
        "org": "LUT",
        "bucket": "smart-air-quality",
        "x": 420,
        "y": 760,
        "wires": []
    },
    {
        "id": "5d5182a3f0214217",
        "type": "change",
        "z": "029daea79e489819",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "[\t    {\t        \"units\": msg.payload\t    },{\t        \"home\": 1,\t        \"room\": \"out\"\t    }\t]",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 260,
        "y": 1160,
        "wires": [
            [
                "cfa29789ad3741d4"
            ]
        ]
    },
    {
        "id": "cfa29789ad3741d4",
        "type": "influxdb out",
        "z": "029daea79e489819",
        "influxdb": "47a0daacc263716d",
        "name": "write to influxDB",
        "measurement": "airquality",
        "precision": "",
        "retentionPolicy": "",
        "database": "database",
        "precisionV18FluxV20": "ms",
        "retentionPolicyV18Flux": "",
        "org": "LUT",
        "bucket": "smart-air-quality",
        "x": 260,
        "y": 1220,
        "wires": []
    },
    {
        "id": "ec6cc8ce3bb0d173",
        "type": "change",
        "z": "029daea79e489819",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "[\t    {\t        \"units\": msg.payload\t    },{\t        \"home\": 1,\t        \"room\": \"out\"\t    }\t]",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 240,
        "y": 1460,
        "wires": [
            [
                "c83d540c55687738"
            ]
        ]
    },
    {
        "id": "c83d540c55687738",
        "type": "influxdb out",
        "z": "029daea79e489819",
        "influxdb": "47a0daacc263716d",
        "name": "write to influxDB",
        "measurement": "airquality",
        "precision": "",
        "retentionPolicy": "",
        "database": "database",
        "precisionV18FluxV20": "ms",
        "retentionPolicyV18Flux": "",
        "org": "LUT",
        "bucket": "smart-air-quality",
        "x": 420,
        "y": 1500,
        "wires": []
    },
    {
        "id": "a98e47e38995b70f",
        "type": "influxdb in",
        "z": "029daea79e489819",
        "influxdb": "bebdbf8371de4f4b",
        "name": "query config data",
        "query": "",
        "rawOutput": false,
        "precision": "",
        "retentionPolicy": "",
        "org": "LUT",
        "x": 770,
        "y": 1000,
        "wires": [
            [
                "fc613b1e377e42e4"
            ]
        ]
    },
    {
        "id": "e3ef46933d0fe31f",
        "type": "function",
        "z": "029daea79e489819",
        "name": "QueryConfiguration",
        "func": "msg.query = String.raw`from(bucket: \"smart-air-quality\")\n    |> range(start: 2023-01-01T00:00:00Z, stop: now())\n    |> filter(fn: (r) => r[\"_measurement\"] == \"config\")\n    |> filter(fn: (r) => r[\"actuator_type\"] == \"window\")\n    |> filter(fn: (r) => r[\"home\"] == \"1\")`\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 550,
        "y": 1000,
        "wires": [
            [
                "a98e47e38995b70f"
            ]
        ]
    },
    {
        "id": "fc613b1e377e42e4",
        "type": "function",
        "z": "029daea79e489819",
        "name": "Set the topic out and msg CLOSE",
        "func": "msg = msg.payload[0];\nconst home = msg[\"home\"];\nconst room = msg[\"room\"]\nconst type = msg[\"actuator_type\"]\n\nconst topic = \"home/\" + home+ \"/room/\" +room + \"/\" + type + \"/111\";\nmsg.topic = topic;\nmsg.payload =\"close\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1040,
        "y": 1000,
        "wires": [
            [
                "f7da52353d8c2af7"
            ]
        ]
    },
    {
        "id": "39d805b6c9f3f356",
        "type": "function",
        "z": "029daea79e489819",
        "name": "QueryConfiguration",
        "func": "msg.query = String.raw`from(bucket: \"smart-air-quality\")\n    |> range(start: 2023-01-01T00:00:00Z, stop: now())\n    |> filter(fn: (r) => r[\"_measurement\"] == \"config\")\n    |> filter(fn: (r) => r[\"actuator_type\"] == \"window\")\n    |> filter(fn: (r) => r[\"home\"] == \"1\")`\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 730,
        "y": 860,
        "wires": [
            []
        ]
    },
    {
        "id": "bbb6dc04583e1281",
        "type": "influxdb in",
        "z": "029daea79e489819",
        "influxdb": "bebdbf8371de4f4b",
        "name": "query config data",
        "query": "",
        "rawOutput": false,
        "precision": "",
        "retentionPolicy": "",
        "org": "LUT",
        "x": 770,
        "y": 1060,
        "wires": [
            [
                "44b2c52eddb0b8cd"
            ]
        ]
    },
    {
        "id": "a5a651b9572b7409",
        "type": "function",
        "z": "029daea79e489819",
        "name": "QueryConfiguration",
        "func": "msg.query = String.raw`from(bucket: \"smart-air-quality\")\n    |> range(start: 2023-01-01T00:00:00Z, stop: now())\n    |> filter(fn: (r) => r[\"_measurement\"] == \"config\")\n    |> filter(fn: (r) => r[\"actuator_type\"] == \"purifier\")\n    |> filter(fn: (r) => r[\"home\"] == \"1\")`\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 550,
        "y": 1060,
        "wires": [
            [
                "bbb6dc04583e1281"
            ]
        ]
    },
    {
        "id": "44b2c52eddb0b8cd",
        "type": "function",
        "z": "029daea79e489819",
        "name": "Set the topic out and msg ON",
        "func": "msg = msg.payload[0];\nconst home = msg[\"home\"];\nconst room = msg[\"room\"]\nconst type = msg[\"actuator_type\"]\n\nconst topic = \"home/\" + home+ \"/room/\" +room + \"/\" + type + \"/220\";\nmsg.topic = topic;\nmsg.payload =\"on\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1030,
        "y": 1060,
        "wires": [
            [
                "0ba0429aa5a8d0ba"
            ]
        ]
    },
    {
        "id": "14b6111673edc1a0",
        "type": "influxdb in",
        "z": "029daea79e489819",
        "influxdb": "bebdbf8371de4f4b",
        "name": "query config data",
        "query": "",
        "rawOutput": false,
        "precision": "",
        "retentionPolicy": "",
        "org": "LUT",
        "x": 770,
        "y": 1120,
        "wires": [
            [
                "3bb145455d4d464f"
            ]
        ]
    },
    {
        "id": "47a7f219fffe4ce8",
        "type": "function",
        "z": "029daea79e489819",
        "name": "QueryConfiguration",
        "func": "msg.query = String.raw`from(bucket: \"smart-air-quality\")\n    |> range(start: 2023-01-01T00:00:00Z, stop: now())\n    |> filter(fn: (r) => r[\"_measurement\"] == \"config\")\n    |> filter(fn: (r) => r[\"actuator_type\"] == \"window\")\n    |> filter(fn: (r) => r[\"home\"] == \"1\")`\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 550,
        "y": 1120,
        "wires": [
            [
                "14b6111673edc1a0"
            ]
        ]
    },
    {
        "id": "3bb145455d4d464f",
        "type": "function",
        "z": "029daea79e489819",
        "name": "Set the topic out and msg OPEN",
        "func": "msg = msg.payload[0];\nconst home = msg[\"home\"];\nconst room = msg[\"room\"]\nconst type = msg[\"actuator_type\"]\n\nconst topic = \"home/\" + home+ \"/room/\" +room + \"/\" + type + \"/111\";\nmsg.topic = topic;\nmsg.payload =\"open\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1040,
        "y": 1120,
        "wires": [
            [
                "f7da52353d8c2af7"
            ]
        ]
    },
    {
        "id": "643a3f51cf2e52d8",
        "type": "influxdb in",
        "z": "029daea79e489819",
        "influxdb": "bebdbf8371de4f4b",
        "name": "query config data",
        "query": "",
        "rawOutput": false,
        "precision": "",
        "retentionPolicy": "",
        "org": "LUT",
        "x": 770,
        "y": 1160,
        "wires": [
            [
                "be265c1ed09ac17f"
            ]
        ]
    },
    {
        "id": "f7070f761f1b075b",
        "type": "function",
        "z": "029daea79e489819",
        "name": "QueryConfiguration",
        "func": "msg.query = String.raw`from(bucket: \"smart-air-quality\")\n    |> range(start: 2023-01-01T00:00:00Z, stop: now())\n    |> filter(fn: (r) => r[\"_measurement\"] == \"config\")\n    |> filter(fn: (r) => r[\"actuator_type\"] == \"purifier\")\n    |> filter(fn: (r) => r[\"home\"] == \"1\")`\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 550,
        "y": 1160,
        "wires": [
            [
                "643a3f51cf2e52d8"
            ]
        ]
    },
    {
        "id": "be265c1ed09ac17f",
        "type": "function",
        "z": "029daea79e489819",
        "name": "Set the topic out and msg OFF",
        "func": "msg = msg.payload[0];\nconst home = msg[\"home\"];\nconst room = msg[\"room\"]\nconst type = msg[\"actuator_type\"]\n\nconst topic = \"home/\" + home+ \"/room/\" +room + \"/\" + type + \"/111\";\nmsg.topic = topic;\nmsg.payload =\"off\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1050,
        "y": 1160,
        "wires": [
            [
                "0ba0429aa5a8d0ba"
            ]
        ]
    },
    {
        "id": "41a5e8b17dc7f5bc",
        "type": "mqtt-broker",
        "name": "broker.hivemq.com",
        "broker": "mqtt://broker.hivemq.com",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "2e452c917eb8462f",
        "type": "ui_group",
        "name": "Your air quality data",
        "tab": "0648859e6711c8f9",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "e36a753ffdd41585",
        "type": "mqtt-broker",
        "name": "",
        "broker": "localhost",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "3f862dcbf059ce34",
        "type": "sms77-config",
        "name": "SMS_77_API"
    },
    {
        "id": "47a0daacc263716d",
        "type": "influxdb",
        "hostname": "127.0.0.1",
        "port": "8086",
        "protocol": "http",
        "database": "database",
        "name": "influxdb:8086/database",
        "usetls": false,
        "tls": "",
        "influxdbVersion": "2.0",
        "url": "https://eu-central-1-1.aws.cloud2.influxdata.com/",
        "rejectUnauthorized": true
    },
    {
        "id": "bebdbf8371de4f4b",
        "type": "influxdb",
        "hostname": "127.0.0.1",
        "port": "8086",
        "protocol": "http",
        "database": "database",
        "name": "influxdb:8086/database",
        "usetls": false,
        "tls": "",
        "influxdbVersion": "2.0",
        "url": "https://eu-central-1-1.aws.cloud2.influxdata.com/",
        "rejectUnauthorized": true
    },
    {
        "id": "0648859e6711c8f9",
        "type": "ui_tab",
        "name": "MQTT and COAP Sensors",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]