node-red-flow.json
[
    {
        "id": "fc7e1518a76db993",
        "type": "tab",
        "label": "Final Flow",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "7d48e324ceb5de75",
        "type": "mqtt in",
        "z": "fc7e1518a76db993",
        "name": "",
        "topic": "home/1/room/kitchen",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "41a5e8b17dc7f5bc",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 100,
        "y": 340,
        "wires": [
            [
                "5b1099ec9bac1ffe",
                "461a19836b6e67a0"
            ]
        ]
    },
    {
        "id": "34675cce3d9690af",
        "type": "function",
        "z": "fc7e1518a76db993",
        "name": "Trigger_Window_Clouse",
        "func": "msg.payload = \"close\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 730,
        "y": 280,
        "wires": [
            [
                "a4e715dca2f10551"
            ]
        ]
    },
    {
        "id": "8bf352feb5112a7f",
        "type": "function",
        "z": "fc7e1518a76db993",
        "name": "Trigger_Air_purification",
        "func": "msg.payload = \"on\"\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 720,
        "y": 320,
        "wires": [
            [
                "667765e92c933171"
            ]
        ]
    },
    {
        "id": "a4e715dca2f10551",
        "type": "mqtt out",
        "z": "fc7e1518a76db993",
        "name": "",
        "topic": "home/1/room/kitchen/window/100",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "41a5e8b17dc7f5bc",
        "x": 1100,
        "y": 280,
        "wires": []
    },
    {
        "id": "8e4ae7744069cb43",
        "type": "mqtt in",
        "z": "fc7e1518a76db993",
        "name": "",
        "topic": "home/1/room/bedroom",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "41a5e8b17dc7f5bc",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 100,
        "y": 620,
        "wires": [
            [
                "d8a9d07231dc761c",
                "91153e6f83d74810"
            ]
        ]
    },
    {
        "id": "92aabbaa7df905b5",
        "type": "mqtt in",
        "z": "fc7e1518a76db993",
        "name": "",
        "topic": "outdoor/AQI",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "41a5e8b17dc7f5bc",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 110,
        "y": 40,
        "wires": [
            [
                "72e1dfd2fa3471cc",
                "e6057232bf4a36b6",
                "7e17f06e1f595c39"
            ]
        ]
    },
    {
        "id": "72e1dfd2fa3471cc",
        "type": "ui_gauge",
        "z": "fc7e1518a76db993",
        "name": "",
        "group": "2e452c917eb8462f",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Outdoor air quality",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "500",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "101",
        "seg2": "150",
        "className": "",
        "x": 530,
        "y": 40,
        "wires": []
    },
    {
        "id": "5b1099ec9bac1ffe",
        "type": "switch",
        "z": "fc7e1518a76db993",
        "name": "Check",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "gt",
                "v": "150",
                "vt": "str"
            },
            {
                "t": "lt",
                "v": "100",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 470,
        "y": 340,
        "wires": [
            [
                "34675cce3d9690af",
                "8bf352feb5112a7f"
            ],
            [
                "c98996a2663d8a35",
                "e607377a719ece3f"
            ]
        ]
    },
    {
        "id": "667765e92c933171",
        "type": "mqtt out",
        "z": "fc7e1518a76db993",
        "name": "",
        "topic": "home/1/room/kitchen/purifier/200",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "41a5e8b17dc7f5bc",
        "x": 1060,
        "y": 340,
        "wires": []
    },
    {
        "id": "c98996a2663d8a35",
        "type": "function",
        "z": "fc7e1518a76db993",
        "name": "Trigger_Window_Open",
        "func": "msg.payload = \"open\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 720,
        "y": 420,
        "wires": [
            [
                "a4e715dca2f10551"
            ]
        ]
    },
    {
        "id": "e607377a719ece3f",
        "type": "function",
        "z": "fc7e1518a76db993",
        "name": "Trigger_Air_purification_off",
        "func": "msg.payload = \"off\"\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 740,
        "y": 460,
        "wires": [
            [
                "667765e92c933171"
            ]
        ]
    },
    {
        "id": "10b8058e0efd4d0b",
        "type": "function",
        "z": "fc7e1518a76db993",
        "name": "Trigger_Window_Clouse",
        "func": "msg.payload = \"close\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 730,
        "y": 620,
        "wires": [
            [
                "d88d3baed5b5c18d"
            ]
        ]
    },
    {
        "id": "0d0933cded715439",
        "type": "function",
        "z": "fc7e1518a76db993",
        "name": "Trigger_Air_purification",
        "func": "msg.payload = \"on\"\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 720,
        "y": 660,
        "wires": [
            [
                "672a97a27c4cedec"
            ]
        ]
    },
    {
        "id": "d88d3baed5b5c18d",
        "type": "mqtt out",
        "z": "fc7e1518a76db993",
        "name": "",
        "topic": "home/1/room/kitchen/bedroom/101",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "41a5e8b17dc7f5bc",
        "x": 1070,
        "y": 640,
        "wires": []
    },
    {
        "id": "d8a9d07231dc761c",
        "type": "switch",
        "z": "fc7e1518a76db993",
        "name": "Check",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "gt",
                "v": "150",
                "vt": "str"
            },
            {
                "t": "lt",
                "v": "100",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 470,
        "y": 680,
        "wires": [
            [
                "10b8058e0efd4d0b",
                "0d0933cded715439"
            ],
            [
                "610c82f4cb96f3fb",
                "f2454005d0383176"
            ]
        ]
    },
    {
        "id": "672a97a27c4cedec",
        "type": "mqtt out",
        "z": "fc7e1518a76db993",
        "name": "",
        "topic": "home/1/room/bedroom/purifier/202",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "41a5e8b17dc7f5bc",
        "x": 1060,
        "y": 720,
        "wires": []
    },
    {
        "id": "610c82f4cb96f3fb",
        "type": "function",
        "z": "fc7e1518a76db993",
        "name": "Trigger_Window_Open",
        "func": "msg.payload = \"open\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 700,
        "y": 760,
        "wires": [
            [
                "d88d3baed5b5c18d"
            ]
        ]
    },
    {
        "id": "f2454005d0383176",
        "type": "function",
        "z": "fc7e1518a76db993",
        "name": "Trigger_Air_purification_off",
        "func": "msg.payload = \"off\"\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 720,
        "y": 800,
        "wires": [
            [
                "672a97a27c4cedec"
            ]
        ]
    },
    {
        "id": "189f3064093e89f4",
        "type": "mqtt out",
        "z": "fc7e1518a76db993",
        "name": "",
        "topic": "home/1/room/hall/window/111",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "41a5e8b17dc7f5bc",
        "x": 1410,
        "y": 1020,
        "wires": []
    },
    {
        "id": "e5486a315892f942",
        "type": "switch",
        "z": "fc7e1518a76db993",
        "name": "Check",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "gt",
                "v": "150",
                "vt": "str"
            },
            {
                "t": "lt",
                "v": "100",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 310,
        "y": 1060,
        "wires": [
            [
                "a140e76ad44c8fc7",
                "1c3185f4300c4b01"
            ],
            [
                "21b234204cbdf359",
                "c83aa5f0487a0b57"
            ]
        ]
    },
    {
        "id": "c9dd0c46adbb8779",
        "type": "mqtt out",
        "z": "fc7e1518a76db993",
        "name": "",
        "topic": "home/1/room/hall/purifier/220",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "41a5e8b17dc7f5bc",
        "x": 1410,
        "y": 1100,
        "wires": []
    },
    {
        "id": "119f0e61806e697b",
        "type": "mqtt in",
        "z": "fc7e1518a76db993",
        "name": "",
        "topic": "home/1/room/hall",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "41a5e8b17dc7f5bc",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 90,
        "y": 1060,
        "wires": [
            [
                "e5486a315892f942",
                "5495911ae57a0c8c"
            ]
        ]
    },
    {
        "id": "e6057232bf4a36b6",
        "type": "switch",
        "z": "fc7e1518a76db993",
        "name": "Check",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "gt",
                "v": "100",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 290,
        "y": 80,
        "wires": [
            [
                "2c87d24abeff254f"
            ]
        ]
    },
    {
        "id": "96c3484a2527ece3",
        "type": "function",
        "z": "fc7e1518a76db993",
        "name": "Trigger_Window_Clouse",
        "func": "msg.payload = \"close\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 730,
        "y": 1360,
        "wires": [
            [
                "4d63ab6584181c2c"
            ]
        ]
    },
    {
        "id": "7e4e2aebf7d56a7d",
        "type": "function",
        "z": "fc7e1518a76db993",
        "name": "Trigger_Air_purification",
        "func": "msg.payload = \"on\"\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 720,
        "y": 1400,
        "wires": [
            [
                "78b39f4d49b3dad9"
            ]
        ]
    },
    {
        "id": "4d63ab6584181c2c",
        "type": "mqtt out",
        "z": "fc7e1518a76db993",
        "name": "",
        "topic": "home/1/room/bathroom/window/110",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "41a5e8b17dc7f5bc",
        "x": 1090,
        "y": 1420,
        "wires": []
    },
    {
        "id": "80c480e43cdf6b90",
        "type": "switch",
        "z": "fc7e1518a76db993",
        "name": "Check",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "gt",
                "v": "150",
                "vt": "str"
            },
            {
                "t": "lt",
                "v": "100",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 470,
        "y": 1400,
        "wires": [
            [
                "96c3484a2527ece3",
                "7e4e2aebf7d56a7d"
            ],
            [
                "e1592974a38f2236",
                "95bbc1f3fe97336a"
            ]
        ]
    },
    {
        "id": "78b39f4d49b3dad9",
        "type": "mqtt out",
        "z": "fc7e1518a76db993",
        "name": "",
        "topic": "home/1/room/bathroom/purifier/201",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "41a5e8b17dc7f5bc",
        "x": 1070,
        "y": 1500,
        "wires": []
    },
    {
        "id": "e1592974a38f2236",
        "type": "function",
        "z": "fc7e1518a76db993",
        "name": "Trigger_Window_Open",
        "func": "msg.payload = \"open\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 720,
        "y": 1500,
        "wires": [
            [
                "4d63ab6584181c2c"
            ]
        ]
    },
    {
        "id": "95bbc1f3fe97336a",
        "type": "function",
        "z": "fc7e1518a76db993",
        "name": "Trigger_Air_purification_off",
        "func": "msg.payload = \"off\"\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 740,
        "y": 1540,
        "wires": [
            [
                "78b39f4d49b3dad9"
            ]
        ]
    },
    {
        "id": "f30bc493a3dc2021",
        "type": "mqtt in",
        "z": "fc7e1518a76db993",
        "name": "",
        "topic": "home/1/room/bathroom",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "41a5e8b17dc7f5bc",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 100,
        "y": 1380,
        "wires": [
            [
                "80c480e43cdf6b90",
                "e85146fb2fe31420"
            ]
        ]
    },
    {
        "id": "7e17f06e1f595c39",
        "type": "change",
        "z": "fc7e1518a76db993",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "[\t    {\t        \"units\": msg.payload\t    },{\t        \"home\": 1,\t        \"room\": \"out\"\t    }\t]",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 260,
        "y": 180,
        "wires": [
            [
                "e018317ea53f2958"
            ]
        ]
    },
    {
        "id": "e018317ea53f2958",
        "type": "influxdb out",
        "z": "fc7e1518a76db993",
        "influxdb": "d4147838d043b7d4",
        "name": "write to influxDB",
        "measurement": "airquality",
        "precision": "",
        "retentionPolicy": "",
        "database": "database",
        "precisionV18FluxV20": "ms",
        "retentionPolicyV18Flux": "",
        "org": "LUT",
        "bucket": "smart-air-quality",
        "x": 520,
        "y": 180,
        "wires": []
    },
    {
        "id": "461a19836b6e67a0",
        "type": "change",
        "z": "fc7e1518a76db993",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "[\t    {\t        \"units\": msg.payload\t    },{\t        \"home\": 1,\t        \"room\": \"kitchen\"\t    }\t]",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 220,
        "y": 420,
        "wires": [
            [
                "9b78da1d49e10d88"
            ]
        ]
    },
    {
        "id": "9b78da1d49e10d88",
        "type": "influxdb out",
        "z": "fc7e1518a76db993",
        "influxdb": "d4147838d043b7d4",
        "name": "write to influxDB",
        "measurement": "airquality",
        "precision": "",
        "retentionPolicy": "",
        "database": "database",
        "precisionV18FluxV20": "ms",
        "retentionPolicyV18Flux": "",
        "org": "LUT",
        "bucket": "smart-air-quality",
        "x": 400,
        "y": 460,
        "wires": []
    },
    {
        "id": "b104ad648988eb12",
        "type": "inject",
        "z": "fc7e1518a76db993",
        "name": "Add new actuator config",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "[{\"actuator_id\":200},{\"home\":1,\"room\":\"hall\",\"actuator_type\":\"purifier\"}]",
        "payloadType": "json",
        "x": 190,
        "y": 1680,
        "wires": [
            [
                "4fbc577dfd885bc7"
            ]
        ]
    },
    {
        "id": "4fbc577dfd885bc7",
        "type": "influxdb out",
        "z": "fc7e1518a76db993",
        "influxdb": "bebdbf8371de4f4b",
        "name": "write to influxDB",
        "measurement": "config",
        "precision": "",
        "retentionPolicy": "",
        "database": "database",
        "precisionV18FluxV20": "ms",
        "retentionPolicyV18Flux": "",
        "org": "LUT",
        "bucket": "smart-air-quality",
        "x": 450,
        "y": 1680,
        "wires": []
    },
    {
        "id": "91153e6f83d74810",
        "type": "change",
        "z": "fc7e1518a76db993",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "[\t    {\t        \"units\": msg.payload\t    },{\t        \"home\": 1,\t        \"room\": \"bedroom\"\t    }\t]",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 200,
        "y": 720,
        "wires": [
            [
                "4dc9db029869c83b"
            ]
        ]
    },
    {
        "id": "4dc9db029869c83b",
        "type": "influxdb out",
        "z": "fc7e1518a76db993",
        "influxdb": "d4147838d043b7d4",
        "name": "write to influxDB",
        "measurement": "airquality",
        "precision": "",
        "retentionPolicy": "",
        "database": "database",
        "precisionV18FluxV20": "ms",
        "retentionPolicyV18Flux": "",
        "org": "LUT",
        "bucket": "smart-air-quality",
        "x": 420,
        "y": 760,
        "wires": []
    },
    {
        "id": "5495911ae57a0c8c",
        "type": "change",
        "z": "fc7e1518a76db993",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "[\t    {\t        \"units\": msg.payload\t    },{\t        \"home\": 1,\t        \"room\": \"hall\"\t    }\t]",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 260,
        "y": 1160,
        "wires": [
            [
                "6f1938ee319f765a"
            ]
        ]
    },
    {
        "id": "6f1938ee319f765a",
        "type": "influxdb out",
        "z": "fc7e1518a76db993",
        "influxdb": "d4147838d043b7d4",
        "name": "write to influxDB",
        "measurement": "airquality",
        "precision": "",
        "retentionPolicy": "",
        "database": "database",
        "precisionV18FluxV20": "ms",
        "retentionPolicyV18Flux": "",
        "org": "LUT",
        "bucket": "smart-air-quality",
        "x": 260,
        "y": 1220,
        "wires": []
    },
    {
        "id": "e85146fb2fe31420",
        "type": "change",
        "z": "fc7e1518a76db993",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "[\t    {\t        \"units\": msg.payload\t    },{\t        \"home\": 1,\t        \"room\": \"bathroom\"\t    }\t]",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 240,
        "y": 1460,
        "wires": [
            [
                "6e857eea5998fbc7"
            ]
        ]
    },
    {
        "id": "6e857eea5998fbc7",
        "type": "influxdb out",
        "z": "fc7e1518a76db993",
        "influxdb": "d4147838d043b7d4",
        "name": "write to influxDB",
        "measurement": "airquality",
        "precision": "",
        "retentionPolicy": "",
        "database": "database",
        "precisionV18FluxV20": "ms",
        "retentionPolicyV18Flux": "",
        "org": "LUT",
        "bucket": "smart-air-quality",
        "x": 420,
        "y": 1500,
        "wires": []
    },
    {
        "id": "833e1e96aa61fd46",
        "type": "influxdb in",
        "z": "fc7e1518a76db993",
        "influxdb": "bebdbf8371de4f4b",
        "name": "query config data",
        "query": "",
        "rawOutput": false,
        "precision": "",
        "retentionPolicy": "",
        "org": "LUT",
        "x": 770,
        "y": 1000,
        "wires": [
            [
                "d7080f06442d695b"
            ]
        ]
    },
    {
        "id": "a140e76ad44c8fc7",
        "type": "function",
        "z": "fc7e1518a76db993",
        "name": "QueryConfiguration",
        "func": "msg.query = String.raw`from(bucket: \"smart-air-quality\")\n    |> range(start: 2023-01-01T00:00:00Z, stop: now())\n    |> filter(fn: (r) => r[\"_measurement\"] == \"config\")\n    |> filter(fn: (r) => r[\"actuator_type\"] == \"window\")\n    |> filter(fn: (r) => r[\"home\"] == \"1\")`\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 550,
        "y": 1000,
        "wires": [
            [
                "833e1e96aa61fd46"
            ]
        ]
    },
    {
        "id": "d7080f06442d695b",
        "type": "function",
        "z": "fc7e1518a76db993",
        "name": "Set the topic out and msg CLOSE",
        "func": "msg = msg.payload[0];\nconst home = msg[\"home\"];\nconst room = msg[\"room\"]\nconst type = msg[\"actuator_type\"]\n\nconst topic = \"home/\" + home+ \"/room/\" +room + \"/\" + type + \"/111\";\nmsg.topic = topic;\nmsg.payload =\"close\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1040,
        "y": 1000,
        "wires": [
            [
                "189f3064093e89f4"
            ]
        ]
    },
    {
        "id": "c873754a0434d4fd",
        "type": "function",
        "z": "fc7e1518a76db993",
        "name": "QueryConfiguration",
        "func": "msg.query = String.raw`from(bucket: \"smart-air-quality\")\n    |> range(start: 2023-01-01T00:00:00Z, stop: now())\n    |> filter(fn: (r) => r[\"_measurement\"] == \"config\")\n    |> filter(fn: (r) => r[\"actuator_type\"] == \"window\")\n    |> filter(fn: (r) => r[\"home\"] == \"1\")`\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 730,
        "y": 860,
        "wires": [
            []
        ]
    },
    {
        "id": "e2893545d78715b0",
        "type": "influxdb in",
        "z": "fc7e1518a76db993",
        "influxdb": "bebdbf8371de4f4b",
        "name": "query config data",
        "query": "",
        "rawOutput": false,
        "precision": "",
        "retentionPolicy": "",
        "org": "LUT",
        "x": 770,
        "y": 1060,
        "wires": [
            [
                "d710adc7e7809892"
            ]
        ]
    },
    {
        "id": "1c3185f4300c4b01",
        "type": "function",
        "z": "fc7e1518a76db993",
        "name": "QueryConfiguration",
        "func": "msg.query = String.raw`from(bucket: \"smart-air-quality\")\n    |> range(start: 2023-01-01T00:00:00Z, stop: now())\n    |> filter(fn: (r) => r[\"_measurement\"] == \"config\")\n    |> filter(fn: (r) => r[\"actuator_type\"] == \"purifier\")\n    |> filter(fn: (r) => r[\"home\"] == \"1\")`\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 550,
        "y": 1060,
        "wires": [
            [
                "e2893545d78715b0"
            ]
        ]
    },
    {
        "id": "d710adc7e7809892",
        "type": "function",
        "z": "fc7e1518a76db993",
        "name": "Set the topic out and msg ON",
        "func": "msg = msg.payload[0];\nconst home = msg[\"home\"];\nconst room = msg[\"room\"]\nconst type = msg[\"actuator_type\"]\n\nconst topic = \"home/\" + home+ \"/room/\" +room + \"/\" + type + \"/220\";\nmsg.topic = topic;\nmsg.payload =\"on\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1030,
        "y": 1060,
        "wires": [
            [
                "c9dd0c46adbb8779"
            ]
        ]
    },
    {
        "id": "9e544b87f2efb561",
        "type": "influxdb in",
        "z": "fc7e1518a76db993",
        "influxdb": "bebdbf8371de4f4b",
        "name": "query config data",
        "query": "",
        "rawOutput": false,
        "precision": "",
        "retentionPolicy": "",
        "org": "LUT",
        "x": 770,
        "y": 1120,
        "wires": [
            [
                "1456dd86b1ae4040"
            ]
        ]
    },
    {
        "id": "21b234204cbdf359",
        "type": "function",
        "z": "fc7e1518a76db993",
        "name": "QueryConfiguration",
        "func": "msg.query = String.raw`from(bucket: \"smart-air-quality\")\n    |> range(start: 2023-01-01T00:00:00Z, stop: now())\n    |> filter(fn: (r) => r[\"_measurement\"] == \"config\")\n    |> filter(fn: (r) => r[\"actuator_type\"] == \"window\")\n    |> filter(fn: (r) => r[\"home\"] == \"1\")`\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 550,
        "y": 1120,
        "wires": [
            [
                "9e544b87f2efb561"
            ]
        ]
    },
    {
        "id": "1456dd86b1ae4040",
        "type": "function",
        "z": "fc7e1518a76db993",
        "name": "Set the topic out and msg OPEN",
        "func": "msg = msg.payload[0];\nconst home = msg[\"home\"];\nconst room = msg[\"room\"]\nconst type = msg[\"actuator_type\"]\n\nconst topic = \"home/\" + home+ \"/room/\" +room + \"/\" + type + \"/111\";\nmsg.topic = topic;\nmsg.payload =\"open\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1040,
        "y": 1120,
        "wires": [
            [
                "189f3064093e89f4"
            ]
        ]
    },
    {
        "id": "f38a88bc3f4e9b60",
        "type": "influxdb in",
        "z": "fc7e1518a76db993",
        "influxdb": "bebdbf8371de4f4b",
        "name": "query config data",
        "query": "",
        "rawOutput": false,
        "precision": "",
        "retentionPolicy": "",
        "org": "LUT",
        "x": 770,
        "y": 1160,
        "wires": [
            [
                "a70cba3117da2e58"
            ]
        ]
    },
    {
        "id": "c83aa5f0487a0b57",
        "type": "function",
        "z": "fc7e1518a76db993",
        "name": "QueryConfiguration",
        "func": "msg.query = String.raw`from(bucket: \"smart-air-quality\")\n    |> range(start: 2023-01-01T00:00:00Z, stop: now())\n    |> filter(fn: (r) => r[\"_measurement\"] == \"config\")\n    |> filter(fn: (r) => r[\"actuator_type\"] == \"purifier\")\n    |> filter(fn: (r) => r[\"home\"] == \"1\")`\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 550,
        "y": 1160,
        "wires": [
            [
                "f38a88bc3f4e9b60"
            ]
        ]
    },
    {
        "id": "a70cba3117da2e58",
        "type": "function",
        "z": "fc7e1518a76db993",
        "name": "Set the topic out and msg OFF",
        "func": "msg = msg.payload[0];\nconst home = msg[\"home\"];\nconst room = msg[\"room\"]\nconst type = msg[\"actuator_type\"]\n\nconst topic = \"home/\" + home+ \"/room/\" +room + \"/\" + type + \"/111\";\nmsg.topic = topic;\nmsg.payload =\"off\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1050,
        "y": 1160,
        "wires": [
            [
                "c9dd0c46adbb8779"
            ]
        ]
    },
    {
        "id": "2c87d24abeff254f",
        "type": "sendsms",
        "z": "fc7e1518a76db993",
        "creds": "215afb2d6902c102",
        "to": "+358449277665",
        "fr": "SmartAirQuality",
        "text": "Hello!  Your air quality levels are getting dangerous.  - AirQualityTeam",
        "unicode": true,
        "x": 510,
        "y": 100,
        "wires": [
            []
        ]
    },
    {
        "id": "41a5e8b17dc7f5bc",
        "type": "mqtt-broker",
        "name": "broker.hivemq.com",
        "broker": "mqtt://broker.hivemq.com",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "2e452c917eb8462f",
        "type": "ui_group",
        "name": "Your air quality data",
        "tab": "0648859e6711c8f9",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": "div.center"
    },
    {
        "id": "d4147838d043b7d4",
        "type": "influxdb",
        "hostname": "127.0.0.1",
        "port": "8086",
        "protocol": "http",
        "database": "database",
        "name": "influxdb:8086/database",
        "usetls": false,
        "tls": "",
        "influxdbVersion": "2.0",
        "url": "https://eu-central-1-1.aws.cloud2.influxdata.com/",
        "rejectUnauthorized": true
    },
    {
        "id": "bebdbf8371de4f4b",
        "type": "influxdb",
        "hostname": "127.0.0.1",
        "port": "8086",
        "protocol": "http",
        "database": "database",
        "name": "influxdb:8086/database",
        "usetls": false,
        "tls": "",
        "influxdbVersion": "2.0",
        "url": "https://eu-central-1-1.aws.cloud2.influxdata.com/",
        "rejectUnauthorized": true
    },
    {
        "id": "215afb2d6902c102",
        "type": "nexmobasic"
    },
    {
        "id": "0648859e6711c8f9",
        "type": "ui_tab",
        "name": "MQTT Sensors",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]